body {
  background-color: #E4E6E9;
  padding-bottom: 0;
  font-family: "Open Sans";
  font-size: 13px;
  color: #393939;
  line-height: 1.5;
}

.bux-list {
  height: 100%;
  margin: 0;
}

.bux-list-item {
  line-height: 35px;
  height: 41px;
}

.bux-list .bux-list-item > a {
  padding: 8px 15px;
}